#nav nav li a.navbook, #header:before, .button, form button, .list .item .details:before, .hover #check button:hover, main table:before, main table th:before, #rooms.list .item .details .button, #stats figure:before, #menu li.featured:before, #comments li:before, #testimonials figure.cover .testimonial, #faqs:before, #contact:before, main ul.sitemap:before, .hover main ul.sitemap a:hover, aside .blocktitle, .hover .footertestimonial .button:hover, .date .month, .hover #footer .news .social a:hover, .hover #nav .book:hover, .home3 #container, .hover #rooms.list.grid .item .container:hover .button, #stats, #search button:hover, #pop:before {
    background: #6286AA;
}

#nav nav li.active a:after, .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-hover {
    background-color: #6286AA !important;
}

#nav .book, main p a, main p a i, main ul a, .hover main ul.sitemap ul a:hover, .usp .box i, .feature .details a, .feature .details a i, .pagination li a, #specials.list .item .details .button span:before, .hover #instagram p a:hover, #comments li .comment-reply-link, .page-guestbook main .button span:before, #faqs li.reveal h2:after, .hover #faqs li:hover h2:after, .hover #contact .field:hover i, main ul.sitemap a, #search button i, #contact .field.mandatory:before {
    color: #6286AA;
}

#nav .book span, .usp .box i, #menu h4, aside #block.categories {
    border-color: #6286AA;
}

#faqs li.reveal {
    border-top-color: #6286AA !important;
}